<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>PWA について</title>
</head>
<body>
    <h1>PWA について</h1>
    <p>
        <a href="https://developers.google.com/web/progressive-web-apps/" target="_blank">Progressive Web Apps</a>
    </p>
</body>
</html>